 /* navbar */
#top-nav {
  background-color: #e0b725;
  padding: 0 8%;
}
.nav-link {
  color: rgb(255, 255, 255)!important;
  padding-left: 25px !important;
  font-size: 20px;
}
.nav-link:hover{
  color: black!important;
  font-size: 19px;
}

#searchbox {
  border: 0px;
  height: 100%;
  width: 80%;
  position: relative;
  left: 20px;
  box-shadow: 5px 5px 11px 0px gray;
}
#searchbtn {
  
  z-index: 999;
  height: 30px;
  background-color: skyblue;
  color: white;
  border: 0;
  position: relative;
  right: 30px;
  
}
/* @media only screen and (max-width:768px){
  #searchform{
    
  }
} */

/* banner */
#banner{
  background-color: #daac00;
  padding-bottom: 20px;
}
#bannertext h1{
  color: white;
  margin-top: 100px;
}
#bannertext p{
  color: black;
  font-size: 25px;
  margin: 30px 20px;
}

#banner-btn-1{
  background-color: #00bec9;
  border: 2px solid #00bec9;
  color: white;
  border-radius: 5px;
  
}
#banner-btn-1:hover{
  background-color: #fff;
  color: black;
  font-size: 15px;

}

#banner-btn-2{
  margin-left: 10px;
  color:#fff;
  border: 2px solid white;
  border-radius: 5px;
}
#banner-btn-2:hover{
  background-color: #00bec9;
  color: black;
  font-size: 15px;
}

.btn{
  margin-bottom: 20px;
}

#banner-img{
  margin-top: 5%;
  margin-bottom: 5%;
}

#service-field{
  padding-top: 10%;
  padding-bottom: 5%;
}

#service-img{
  padding-left: 5%;
  width: 100%;
}

#service-text p{
  margin-top: 14px;
  font-size: 20px;
}
#service-btn{
  background-color: #daac00;
  border: 2px solid #daac00;
  color: white;
}
#service-btn:hover{
  color: black;
  
  font-size: 15px;
}

/* counter */

#counter-section{

  background-color: #e0b725;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 70px;
}
.counter-icon{
  font-size: 50px;
}

/* blog */

#blog{
  padding-bottom: 70px;
  padding-top: 70px;
}
#blog-title{
  font-size: 50px;
}
#blog-p{
  font-size: 20px;
  margin-bottom: 70px;
}
.article-detail{
  padding: 15px;
  border: 1px solid rgb(185, 185, 185);
  border-top: 0px;
}
.article-date, .article-link{
  color: #00bec9;
  font-weight: 600;
}

/* footer */

#footer{
  background-color: #343434;
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer a{
  text-decoration: none;
  color: white;
}
#footer a:hover{
  color: #00bec9;
}
#footer-form{
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-search-box{
  background-color: #daac00;
  color: white;
  border: 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  position: relative;
}
#footer-search-submit{
  background-color:#00bec9;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
}

.social-icon{
  font-size: 25px;
  padding-left: 15px;
  color: white;
}
.social-icon:hover{
  color:#00bec9;
}

@media only screen and (max-width: 1150px){
  #footer-search-box{
    max-width: 200px;
  }
}

@media only screen and (max-width: 768px){
  #footer-search-box{
    max-width: 120px;
  }
}
@media only screen and (max-width: 500px){
  #footer-search-box{
    max-width: 200px;
  }
  #footer{
    padding-top: 10px;
  }
  #footer h4{
    padding-top: 50px;
  }
}

/* @media only screen and (max-width: 750px) and(min-width: 870px){
  #footer-search-box{
    max-width: 200px;
  }
} */